.footer {
   color: $color-grey-light-1;
   background-color: $color-grey-dark-3;
   padding: 4rem 0;
   font-size: 1.4rem;

   &__form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
   }
}
