.invest {
   margin-top: 10rem;
   text-align: center;

   @include respond(tab-port) {
      margin-top: 5rem;
      padding: 0 2rem;
   }
   @include respond(phone) {
      margin-top: 0;
   }

   &__list {
      margin-top: 10rem;
      list-style-type: none;
   }
   &__item {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      &--header {
         display: flex;
         justify-content: space-between;
      }

      &--list {
         margin-left: 3rem;
         align-self: start;
         text-align: left;
         list-style-type: circle;
         &__item {
            margin-bottom: 1rem;
            animation: moveInLeft 1s ease-in-out;
         }
      }
   }
}
