.project {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 5rem;

   @include respond(tab-port) {
      margin-top: 2rem;
   }

   &__desc {
      margin: 5rem 0;
      padding: 5rem;
      color: $color-grey-light-2;
      border-radius: $default-border-radius;
      box-shadow: $default-box-shadow-green;
      background-color: $color-grey-light-2;
      color: $color-grey-dark;

      @include respond(phone) {
         margin: 5rem 2rem;
         padding: 1rem;
      }
   }

   &__video {
      cursor: pointer;
      margin: 5rem;

      &--content {
         height: 72rem;
         width: auto;
         border: 1px solid $color-grey-light-2;

         @include respond(tab-land) {
            height: 60rem;
         }
         @include respond(tab-port) {
            height: 44rem;
         }
         @include respond(phone) {
            height: 20rem;
         }
      }
   }

   &__picture {
      width: 90%;
      margin: 5rem 0;
   }

   &__image {
      width: 100%;
      border-radius: $default-border-radius;
   }
}
