.slogan {
   font-style: italic;
   text-align: right !important;
   align-self: flex-end;
   padding: 2rem 2rem 2rem 4rem;
   margin-bottom: 2rem;
   border-radius: 10rem 0 0 10rem;
   background-color: $color-grey-light-2;
   box-shadow: $default-box-shadow;
}
